<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>candidate Page</title>
  </head>
  <body>
    <h1>Candidate age</h1>
    <form method="POST" action="/candi">
      <div class="error" style="background-color: red"></div>
      <br />
      <label for="username">Username</label><br />
      <input type="text" name="name" required /><br />
      
      <label for="password">Party</label><br />
      <input type="password" name="party" required /><br />

      <label>Age</label><br />
      <input type="text" name="age" required /><br />
     

      <input type="submit" value="create" /><br />
    </form>
    <a href="/login">Already registered? Login</a>
  </body>
</html>
