<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <style>
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background: linear-gradient(135deg, #182149 0%, #616781 100%);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      animation: fadeIn 2s ease-in-out;
    }

    a {
      text-decoration: none;
      color: #fff;
      background: #182149;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background 0.3s, transform 0.3s;
    }

    a:hover {
      background: #182149;
      transform: scale(1.1);
    }

    a:not(:last-child) {
      margin-bottom: 10px;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</head>
<body>
  <h1>Welcome to Voteing Website</h1>
  <a href="/signup">Register</a> <br />
  <a href="/login">Login</a>
</body>
</html>
